.w-100 {
	width: 100% !important;
}
.product-image>img {
	width: 100% !important;
	max-height: 500px !important;
	height: unset !important;
	border-radius: unset !important;
	object-fit: contain;
}
.h-100 {
	height: 100%;
}
.row-hidden {
	padding: 0 !important;
}
.modal-dialog-container {
	max-width: unset !important;
	width: calc(100% - 5rem) !important;
}
.form-control {
	color: white !important;
}
.textarea-control textarea, .textarea-control {
	height: 100%;
}

